@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    background-color: #fffaf5;
    color:#333333;
}
/*hader*/
header{
    background-color: orange;
    padding:20px;
    text-align: center;
}
.nav-links{
    color:white;
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    font-weight: bold;
    color:white;
}

#hero{
    text-align: center;
    padding: 60px 20px;
    background-color: #fff0db;
}

/*menu*/
.menu{
    padding:40px 20px;
    background-color: #e3dfdb;
    text-align: center;
}
.menu-grid{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
}
.menu-item{
    background-color: white;
    width: 250px;
    padding:20px;
    box-shadow: 0 0 20px black;
    border-radius: 5px;
}
.menu-item img{
    width:100%;
}

.price{
    font-weight: bold;
    color:#e85d04;
}
.gallery{
    padding: 40px 20px;
    text-align: center;
}
.gallery-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin-top: 20px;
}
.gallery-grid img{
    width: 300px;
}

.gallery-grid img:hover{
    scale: 1.1
};
/*responsive design*/
@media (min-width: 601px) and (max-width: 1024px){
    .menu-item,.gallery-grid img{
        width: 45%;
    }
}

@media (max-width: 600px){
    .menu-grid{
        flex-direction: column;
        align-items: center;
    }
    .menu-item{
        width: 90%;
    }
    .gallery-grid{
        grid-template-columns: 1fr;
    grid-template-columns:repeat(1,1fr);
}
    .gallery-grid img{
        width: 80%;
    }
}